@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');

* {
  box-sizing: border-box;
}

html, body, ul, li, a {
  padding: 0;
  margin: 0;
} 

body {
  background-color: rgb(202, 195, 195);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  height: 120px;
}

.logo a {
  color: rgb(255, 124, 64);
  font-size: 60px;
  padding: 10px;
  font-family: 'allura';
  text-shadow: 1px 10px 10px 10px white;
}

.menu ul{
  display: flex;
  padding: 10px;
}

.menu ul li a {
  color: white;
  font-size: 22px;
  padding: 10px;
  margin: 20px;
  font-size: 1.5em;
}

.galeria img {
  height: 400px;
}

.img-main img {
  height: 400px;
}

.cabelos-main img {
  height: 300px;
}

/*GALERIA*/

.galeria {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: center;
}

.imgs-galeria {
  position: relative;
  width: 100%;
  height: 37vw;
}

.imgs-galeria img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 2s;
  box-shadow: 2px 2px 10px 0px black;
}

.imgs-galeria img.selecionado {
  opacity: 1;
}

/*MAIN*/

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 50px;
}

main h2 {
  font-size: 3.6em;
  padding: 10px;
  margin: 60px;
  text-align: center;
  letter-spacing: 5px;
}

main p {
  display: flex;
  align-items: center;
  overflow: hidden;
  font-size: 25px;
  text-align: justify;
  letter-spacing: 1px;
  padding: 10px;
  margin: 10px;
}

.img-main img{
  width: 100%;
  height: 100%;
  border-radius: 5px;
  box-shadow: 2px 2px 10px 0px black;
  margin-bottom: 50px;
}

.cabelos-main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.cabelos-main img {
  border-radius: 5px;
  box-shadow: 2px 2px 10px 0px black;
}

/*FOOTER*/

footer {
  height: 20vh;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: rgb(240, 240, 217);
  justify-content: center;
}

footer p {
  margin-bottom: 0px;
  font-size: 20px;
}

footer ul {
  margin-bottom: -20px;
  display: flex;
  align-items: center;
}

.footer-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer ul li img {
  margin: 0px 20px 0px 20px;
  padding: 10px;
  height: 70px;
}
